*.pyc
*.log
*.err
*.out
._*
.svn
.svn/**
**/.svn/**
.sass-cache
tests/*.pid
htdocs/assets/dist/*
htdocs/assets/build/*
htdocs/assets/js/generated
htdocs/assets/css/generated
!htdocs/assets/dist/.do_not_delete
templates/test-smarties-tpls/
tests/smarties/output
tests/.phpmethods.sqlite
tests/apache2.conf
tests/php.ini
tests/phpunit/test-classifcations.json
tests/scratch.php
tests/scripts/selenium-cookies.php
tests/se/user-extensions.js
tests/js-test-driver/output
tests/js-test-driver/tmp*
tests/phpunit/coverage/
htdocs/sitemap
tmp
.idea/
patch.diff
.DS_Store
*.sw[lopm]
tags
*~
bin/gci/test.php
.#*
*#
.fuse_hidden*
htdocs_atlas/*.html
!htdocs_atlas/blank.html
CodeSniffer
codesniffer-*.xml
htdocs/version.txt
*.sublime-workspace
*.sublime-project
test-results.xml
use_dev_mysql_proxy
htdocs/config-version.txt
htdocs/disabled_connections-version.txt
*_flymake.php
/translation
/translations
*.pdf
*.psd
build/dist.js
.repl-history
phplib/EtsyConfig/dev-proxies-rw.php
shard_migrator_config.json
.project
*.sqlite
bin/asm.php
phplib/htmlpurifier-standalone/standalone/HTMLPurifier/DefinitionCache/Serializer
.jshintrc
builda/reports
builda/crash.log
